#logo{
    background-color: pink;
    color: white;
    font-size: 24px;
}
a{
    color: black;
    text-decoration: none;
}
.selected{
    text-decoration: underline;
    font-weight: 800;
}
h1, #logo{
    font-weight: 900;
}
.category_1{
    margin-left: 10px;
    font-size: 22px;
}
.category_2{
    margin-left: 10px;
    font-size: 18px;
}
.category_3{
    margin-left: 10px;
    font-size: 16px;
}
.category_1 >.category_2 >a {
    color: darkblue;
}
.category_2 >.category_3 >a {
    color: darkred;
}